{% extends "global/Page.html" %}
{% block title %}
    Select Cases
{% endblock %}

{% block content %}
    <form method="post">
        {% for case in cases %}
            <label>
                <!-- Add square brackets [] to the name attribute to indicate an array -->
                <input type="checkbox" name="selected_case_ids[]" value="{{ case.id }}">
                Case ID: {{ case.case_id }} (Points: {{ case.points }})
            </label><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>   
{% endblock %}